{{- /* 百度统计 (Baidu Tongji) — 全站访问统计 */ -}}
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?76fb4a018c0966011324d2fdc8e8faf1";
  var s = document.getElementsByTagName("script")[0];
  s.parentNode.insertBefore(hm, s);
})();
</script>

{{- /* Cloudflare Web Analytics */ -}}
<script type='module' src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "a0554782bb5e424bbafec5f7e23272f3"}'></script>

{{- /* 高端字体: Playfair Display (品牌衬线) + Noto Serif SC (中文衬线) + Noto Sans SC (中文正文) + JetBrains Mono (代码) */ -}}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,600&family=Noto+Serif+SC:wght@400;500;600;700;900&family=Noto+Sans+SC:wght@300;400;500;700;900&family=JetBrains+Mono:wght@400;500;700&display=swap" rel="stylesheet">
